name: proyectofinal_grupo10_avansado
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  url_launcher: ^6.2.2 

  image_picker: ^1.0.4 
  http: ^1.1.0
  shared_preferences: ^2.2.2 
  cupertino_icons: ^1.0.6 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
